<details>
  <summary>
    Rubocop:
    <% if @offenses.values.flatten.count.positive? %>
      <span class='failed'><%= pluralize(@offenses.values.flatten.count, 'offense') %> detected</span>
    <% else %>
      <span class='passed'>No offenses detected 🎉🎉🎉</span>
    <% end %>
  </summary>
  <article>
    <%= "No offenses 🎉" if @offenses.count.zero? %>

    <% @offenses.each do |file, offenses| %>
      <details>
        <summary>
          <small><code><%= file %></code></small>: <%= pluralize(offenses.count, 'offense') %>
        </summary>

        <table>
          <thead>
            <tr>
              <th scope="col">Offense</th>
              <th scope="col">Line</th>
              <th scope="col">Column</th>
            </tr>
          </thead>
          <tbody>
            <% offenses.each do |offense| %>
              <tr>
                <td><%= offense.message.gsub(/^#{offense.cop_name}:/,'') %></td>
                <td><%= offense.line %></td>
                <td><%= offense.column %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </details>
    <% end %>
  </article>
</details>
